<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startup</title>
    <style>
        .wrapper {
            text-align: center;
        }
        .mybtn2{
            padding: 100px 250px;
            font-size: 80px;
        }
    </style>
</head>
<body>
    <h1> </h1>
    <div class="wrapper">
        <button type="submit" onclick="location.href='{% url 'home' %}'" class="mybtn2">EXIT</button>
        <button type="submit" onclick="location.href='{% url 'posenet' %}'" class="mybtn2">LAUNCH</button>
    </div>
</body>
</html>